body{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Disket Mono';
  background-color: whitesmoke;
}
ul{
  padding: 0px; /*reseta padding padrão do brownser. possibilitando centralização do menu no header02 */
}
.menu-principal {
  width: 100%;
  background-color: #272727;
  height: 130px;
}
main{
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.logo{
  float: left;
  width: 75%;
  margin-left: 7%;
}
.redes-sociais ul li{
  margin-left: 5%;
  /* display: inline-block; */
  float: left;
  list-style: none;
  /*list-style para tirar na mão*/
}
.redes-sociais{
  margin-top: 3%;
  width: 25%;
  float: left;
  margin-left: -7%;
}
/* https://necolas.github.io/normalize.css/ #html #css #javascript --> Normalize  */ 
/*------------------------------------------------------------------------------------------------------------------------------------------*/
.header02{
  background-color: #ffff;
  width: 100%;
  margin: 0 auto;
  padding: 3px;
}
.menu_urls{
  height: 50px;
  border-bottom: 3px solid rgba(230, 229, 229, 0.8);
}
.colum_100{
  width: 100%;
  position: relative;
}
.menu{
  width: 50px;
}
.menu ul li{
  display: inline-block;
  color: #393636;
  margin-left: 30px;
  height: 35px;
}
.menu ul li a{
  color: #393636;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Disket Mono';
  text-transform: uppercase;
}
/* local para alterar a cor do item selecionado no menu */
.menu ul li:hover{
  border-bottom: 2px solid #009ecf;
}
.menu ul li a:hover{
  color: #009ecf;
}
/* ------------------------------------------------------------------------------------------------------------------ */
.menu{
  width: 70%;
  float: left;
}
.search{
  width: 30%;
  float: right;
  text-align: center;
}
.search input{
  background-image: url('../img/search_icon.png');
  background-repeat: no-repeat;
  background-position: 95%;
  font-size: 12px;
  margin-top: 5px;
  height: 30px;
  padding: 10px;
  width: 200px;
  border: 2px solid #393636;
}

/*----------------------------------------------------Carousel------------------------------------------------------*/
*{box-sizing: border-box;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: static;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: inline-block;
}
.prev{
  cursor: auto;
  position: absolute;
  margin-top: 30%;
  float: inline-start;
  width: auto;
  flex-wrap: nowrap;
  padding: 12px;
  color: #009ecf;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  cursor: auto;
  position: absolute;
  margin-top: 30%;
  float: inline-end;
  width: auto;
  left: 96.5%;
  padding: 12px;
  color: #009ecf;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  transform: scaleX(-1);
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}
/* Caption text */
.text {
  color: whitesmoke;
  font-size: 25px;
  padding: 8px 12px;
  position: initial;
  margin-top: -50px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: static;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* --------------------Footer CopyRight--------------------- */
.footer{
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  background-color: #c0b6b6;
  height: 100px;
  text-align: justify;
  text-align-last: center;
}
.blb b{
  
  font-size: 18px;
}
.blb b1{
  text-align: center;
  font-size: 15px;
} 
